@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-gray: #eee;
  --gray: #565656;
}

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-gray);
  color: var(--gray);
  font-family: 'Poppins', sans-serif;
}

.layout-wrapper {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.font-weight-normal {
  font-weight: normal;
}

.color-gray {
  color: var(--gray);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-margin {
  margin: 0 !important;
}

.mx-4 {
  margin: 0 4px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}
